/* src/styles/header.css */
#header-background {
    position: relative;
    width: 100%;
    height: 100vh; /* 100vh makes it cover the full viewport height */
    overflow: hidden;
    background: #000; /* Fallback background color */
  }
  
  .header-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(251, 197, 210);
   
  }
  .header-text{
    font-family :Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem; /* Adjust the size as needed (3rem is just an example) */
    font-weight: 700;
    text-shadow: 1px 1px 2px #07192f, 0 0 1em #07192f, 0 0 0.2em #07192f;
  }
  .description{
    font-family :Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem; /* Adjust the size as needed (3rem is just an example) */
    color: #ffdf5ef0;
    text-shadow: 1px 1px 2px #07192f, 0 0 1em #07192f, 0 0 0.2em #07192f;
  }
  .header-strategies{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: rgb(251, 197, 210);
  
    /* background-image: linear-gradient(to right,pink, rgb(186, 53, 186), pink); */
    height: 90px;

    z-index: 1000;
}

.site-logo{
  background: transparent;
  color: rgb(255, 209, 72);
  border: none;
  font-family :Georgia, 'Times New Roman', Times, serif;
  font-size: 5rem;
  font-weight: bold;
  padding: 15px 20px;
}
.site-logo:hover{
  cursor: pointer;
  
}
  

  