.main-content{
    display: flex;
    flex-direction: column;
    /*background-color: rgb(0, 166, 255);*/
    /* background-color: rgb(251, 197, 210); */
    background-image: linear-gradient(#07192f, rgb(251, 197, 210));
}
/*introduction section*/
.text-container{
    height: 300px;
    width: 100%;
    background-color: white;
    border-radius: 10px; /* Rounded corners */
    padding: 15px; /* Add spacing inside */
    border: 1px solid #ccc; /* Subtle border */

}
img{
    height: 100%;
    width: 100%;
}
/*input section*/
.input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    font-family :Georgia, 'Times New Roman', Times, serif;
    color: #ffdf5ef0;
    text-shadow: 1px 1px 2px #07192f, 0 0 1em #07192f, 0 0 0.2em #07192f;
}

/* FLEX CONTAINER for input and button */
.input-container {
    display: flex;
    gap: 10px; /* Space between input and button */
    width: 100%; /* Ensures enough space */
    max-width: 600px;
    
}

/* Input Box */
.feeling-input-box {
    width: 50%;
    height: 25px;
    background-color: transparent;
    color: white;
    padding: 15px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 15px;
    /* box-shadow: 0.5px 0.5px 0.5px rgb(251, 197, 210), 0 0 1em rgb(251, 197, 210), 0 0 0.2em rgb(251, 197, 210); */
}

.feeling-input-box::placeholder {
    color: rgb(251, 197, 210);
}

.feeling-input-box:focus {
    outline: none;
    border-color: white;
    box-shadow: 0.5px 0.5px 0.5px rgb(251, 197, 210), 0 0 1em rgb(251, 197, 210), 0 0 0.2em rgb(251, 197, 210);

}

/* Submit Button */
.submit-button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 1px white, 0 0 1em white, 0 0 0.2em white;
}

/* Button Hover */
.submit-button:hover {
    background-color: rgba(251, 197, 210, 0.2);
}

/* Disabled Button */
.submit-button:disabled {
    border-color: rgba(251, 197, 210, 0.4);
    color: rgba(251, 197, 210, 0.4);
    cursor: not-allowed;
}

.submit-button:active{
    background-color: #ffdf5ef0;
}


h2{
    font-family :Georgia, 'Times New Roman', Times, serif;
}