body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #07192f;
  }
.host-nav{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;

    position: fixed;
    
    margin-top: 90px;
    left: 0;
    right: 0;

    background-color: pink;
    height: 110px;

    z-index: 900;
}
.strategy-link{
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.strategy-link:hover{
    text-decoration: underline;
    text-decoration-color: rgb(191, 143, 0);
}
.strategy-link:active{
    color: rgb(191, 143, 0);
    text-decoration: underline;
}


.strategies-container{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 180px;
    background-color: white;
    height: 100%;
    padding-left: 40px;
}
.content{
    display: flex;
    flex-direction: row;

    font-size: 20px;
    margin-bottom: 20px;
}
.clip-icon{
    margin-left: 8px;
}

.external-link{
    text-decoration: none;
}
.external-link:hover{
    text-decoration: underline;
}
.external-link:active{
    text-decoration: underline;
}
